@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.shoe-sizes{
    display: grid;
    grid-template-columns: 58px 58px 58px;
    gap: 8px;
}

.size-btn{
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: #F1F1F2;
}