.departments{
    border-bottom: 2px solid #040404;
}

button{
    background-color: white;
    border: none;
    color: #3E3E3F;
    
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.primary-departments,
.sub-departments{
    display: flex;
    justify-content: space-between;
    height: 34px;

}

.primary-departments{
    width: 460px;
    font-size: 14px; 
}

.sub-departments{
    width: 690px;
    font-size: 12px;
}

.active{
    border-bottom: 2px solid #4646E8;
}
