@import '../../../main_styles.scss';

    
.size-info{
    @include side-bar-list;
    padding: 8px;

    &.active{
        background-color: #F1F1F2;
        border-bottom: none;
    }
}

.size{
    margin-right: auto;
}

.quantity{
    font-size: 10px;
    color: #919191;
}

.checkbox{
    @include checkbox-sizing;
}
    

    
