
.price-scale{
    position: relative;
}

.scale{
    width: 240px;
    height: 2px;
    background-color: #E3E3E4;
    border: none;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.range{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.left{
    margin-left: auto;
}

.range-point{
    display: flex;
    flex-direction: column;
}

.line{
    width: 80px;
    align-self: flex-end;
    margin-bottom: 7px;

    .solid{
        height: 2px;
        width: 100%;
        background: black;
        margin: 0;
        opacity: 1;
    }
}