@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App{
    font-family: "Inter", sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.main-content{
    display: flex;
    margin-bottom: 15px;
}

.check-delivery{
    width: 100%;
    height: 34px;
    font-weight: 600;
    font-size: 14px;
    background-color:#F1F1F2;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        margin-left: 6px;
    }
}

@mixin side-bar-list{
        font-size: 12px;
        font-weight: 600;
        margin: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

@mixin checkbox-sizing{
    width: 16px;
    height: 16px;

}